<!doctype html>
<html lang="ru" ng-app="ReturnCalls">
	<head>
		<title>ReturnCalls</title>
		<link rel="stylesheet" type="text/css" href="http://bootswatch.com/lumen/bootstrap.min.css">
		<style>
			h4 { color: white; }
			thead { color: #999; }
			.chatBox { list-style-type: none; margin: 0; padding: 0; }
			.chatBox { max-height: 400px; overflow: auto; }
			.chatBox li { padding: 5px 10px; }
			.chatBox li.old { color: #999; }
			.chatBox li:nth-child(odd), #calls li:nth-child(odd) { background: #f2f2f2; }
			body { padding-top: 0px; }
			.frontend { height: 150px; background-color: #666; padding-top:30px; padding-bottom:40px; margin-bottom:40px; border-bottom:2px dashed #333; }
			.close_div { position:absolute; top:10px; right:25px; font-size:28px; color:#ccc; cursor:pointer; }
			.operatior-interface { margin-top:40px; }
		</style>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>

	</head>
	<body>
	
	<div class="frontend">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">

					<form class="form-inline" id="returncall">
						<h4>Заказ обратного звонка</h4>
							<div class="input-group">
							<input id="phone" name="phone" type="text" class="form-control">
							<span class="input-group-btn">
								<input type="submit" class="btn btn-warning" type="button" value="перезвоните мне" />
							</span>
							</div>
					</form>

				</div>
			</div>
			<div class="close_div" onclick="$('.frontend').hide()">x</div>
		</div>
	</div>



	<div class="container operatior-interface">
		<div class="row">
			<div class="col-xs-8">

					<div class="panel panel-primary">
						<div class="panel-heading">Последние запросы обратных звонков</div>
						<div class="panel-body" ng-controller="callsList">

							<table class="table table-striped">
								<thead>
									<tr><td>Дата</td><td>Телефон</td><td>Комментарий</td><td>Выполнение</td></tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in list">
										<td>{{item.time}}</td><td>{{item.phone}}</td><td>{{item.comment}}</td><td></td>
									</tr>
								</tbody>
							</table>

						</div>
						<div class="panel-footer">

						</div>
					</div>   

			</div>
			<div class="col-xs-4">

					<div class="panel panel-primary" ng-controller="chatBox">
						<div class="panel-heading">Операторский чат</div>
						<div class="panel-body">
							<ul class="chatBox">
								<li ng-repeat="item in messages" on-last-repeat>{{item.message}}</li>
							</ul>
						</div>
						<div class="panel-footer">
							<form action="" id="chat" ng-submit="addMessage()" class="form-inline">

								<div class="input-group">
								<input id="message" autocomplete="off" type="text" class="form-control">
								<span class="input-group-btn">
									<input type="submit" class="btn btn-primary" type="button" value="отправить" />
								</span>
								</div>

						</form> 			
						</div>
					</div>

			</div>
		</div>
	</div>



	<script src="/socket.io/socket.io.js"></script>
	<script>

		var app = angular.module('ReturnCalls', []);

		// Фабрика работы с сокет.ио взята отсюда:
		// http://briantford.com/blog/angular-socket-io
		app.factory('socket',function ($rootScope){
			var socket = io.connect();
			return {
				on: function (eventName,callback){
					socket.on(eventName,function(){
						var args = [].slice.call(arguments);
						$rootScope.$apply(function(){
							if(callback){
								callback.apply(socket,args);
							}
						});
					});
				},
				emit: function (eventName, data, callback){
					var args = [].slice.call(arguments), cb;
					if( typeof args[args.length-1]  == "function" ){
						cb = args[args.length-1];
						args[args.length-1] = function(){
							var args = [].slice.call(arguments);
							$rootScope.$apply(function(){
								if(cb){
									cb.apply(socket,args);
								}
							});
						};
					}
					socket.emit.apply(socket, args);
				}
			};
		});


		/** ОБСЛУЖИВАЕМ СПИСОК ТЕЛЕФОНОВ **/

		// Работаем с контроллером нашего списка телефонов
		app.controller('callsList', function ($scope, socket) {
			
			$scope.list = [ { phone: 'Нет данных' } ];

			socket.on('calls list', function(list){


				console.log(list);

				$scope.list = list;

			});		

		});


		/** ОБСЛУЖИВАЕМ ОПЕРАТОРСКИЙ ЧАТ **/

		// Для отлавливания callback-a рендеринга окна чата,
		// приходится использовать дополнительную директиву:
		// Взято: http://www.nodewiz.biz/angular-js-final-callback-after-ng-repeat/
		app.directive('onLastRepeat', function() {
			return function(scope, element, attrs) {				
				if (scope.$last) setTimeout(function(){
					scope.$emit('onRepeatLast', element, attrs);
				}, 1);
			};
		});

		// Работаем с контроллером операторского чата
		app.controller('chatBox', function ($scope, socket) {
			
			$scope.messages = [];

			// Событие вызывается директивой onLastRepeat для отлавливания callbacka рендера
			var chatWindow = $('.chatBox')[0];
			$scope.$on('onRepeatLast', function(scope, element, attrs){
				chatWindow.scrollTop = chatWindow.scrollHeight; // скролим окно чата всегда вниз				
			});

			// Событие подгрузки истории чата
			// (автоматически при установки связи в сокете)
			socket.on('chat history', function(history){
				$scope.messages = history;
			});	

			// Форма отправки нового сообщения
			$scope.addMessage = function () {
				socket.emit('chat message', $('#message').val());
				$('#message').val('');
				return false;
			}

			socket.on('chat message', function(msg){
				$scope.messages.push(msg);
			});	  


		});



		/* -----------------  */


		/** обработка верхней формы запроса обратного звонка **/


		// Обработка запроса обратного звонка
		$('#returncall').submit(function(){

			var data = {
				phone: $('#phone').val()
			};

			// Отправка введенного телефона методом POST
			$.post('/addReturnCall', data, function(res) {
				console.log(res);
				$('#returncall').html('<h4 style="color:white">Спасибо!<br/> Вам перезвонят в течении 10 минут.</h4>');
			});
			
			return false;
		});	  


	</script>

	</body>
</html>