<div class="panel panel-primary">
	<div class="panel-heading">Операторский чат</div>
	<div class="panel-body">
		<ul id="chat-box" class="stripped-ul chatbox">
			<li ng-repeat="item in messages" ng-class="{new: item.new}" on-last-repeat>{{item.time | date : 'd MMM, H:mm'}} <b>{{item.user}}</b> &nbsp; <i>{{item.message}}</i></li>
			<li ng-repeat="writer in writers" class="chat-writer" on-last-repeat>{{writer}} печатает сообщение...</li>
		</ul>
	</div>
	<div class="panel-footer">
		<form novalidate id="chat" ng-submit="addMessage()" class="form-inline">

			<textarea id="message" autocomplete="off" ng-model="currentInput" type="text" class="form-control" style="width:100%"></textarea>
			<input type="submit" class="btn btn-primary btn-sm" ng-disabled="!(currentInput.length > 0)" type="button" value="отправить" style="margin-top:10px;" />

		</form> 			
	</div>
</div>