body { 
	font-size: 14px !important;
	color: #333 !important;
}
.container {
	margin: 40px auto;
}
h5 { 
	color: #666;
	font-weight: bold;
	font-size: 16px;
	margin-top: 20px;
}

ol {
	padding-left: 20px;
}
ol>li {
	margin: 10px 0px;
}

.well {
	position: relative;
	opacity: .4;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;	
}
.well:hover {
	opacity: 1;
}
.close_div { 
	position: absolute; 
	top:10px; 
	right:15px; 
	font-size: 16px; 
	cursor: pointer; 
}

.stripped-ul { 
	list-style-type: none;
	margin: 0;
	padding: 0; 
}
.stripped-ul { 
	max-height: 400px; 
	overflow: auto; 
}
.stripped-ul li { 
	padding: 5px 10px; 
	list-style-type: none; 
}
.stripped-ul li.new { 
	color: #444; 
}
.stripped-ul li:nth-child(odd), 
	  #calls li:nth-child(odd) { 
	background: #f2f2f2; 
}
.stripped-ul li.chat-writer { 
	font-size: 80%; 
	color: #999; 
	background-color: white; 
	font-style: italic; 
}

.stripped-ul.chatbox {
	color: #888;
}

.call-done-false { 
	background-color: #fde1d8; 
	color: #333;
}
.call-done-true { 
	background-color: #ffffff; 
	color: #333;
}
.call-done-false.call-operator-taken { 
	background-color: #ffffcc; 
}
a.btn { 
	text-decoration: none; 
}
.dotted { 
	text-decoration: none !important;
	border-bottom: 1px dotted #08c;
	font-size: 12px; 
}
.overlay { 
	position: fixed; 
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	background-color: #eee; 
	opacity: 1; 
	z-index: 200; 
}
.modal-window { 
	position: fixed; 
	z-index: 300; 
	top: 50%; 
	width: 400px; 
	left: 50%; 
	margin-left: -200px;
	margin-top: -70px;
}
/*.modal-window, .overlay { 
	display: none; 
}*/

.connection-lost-warning {
	background-color: #ffffaa;
	color: #dd8877;
	position: absolute;
	padding: 5px 0px;
	border-bottom: 1px solid #ccc;
	top: 0px;
	width: 100%;
	text-align: center;
}

ul.no-style {
	padding: 0px;
	margin: 0px;
}

ul.no-style > li {
	list-style-type: none;
}

ul.themes {
	padding: 0px;
	font-size: 12px;
}
ul.themes>li {
	display: inline;
	margin: 0px 5px;
}
ul.themes>li.active {
	background-color: #ffffbb;
}

